body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    margin: 8rem auto 2rem;
}

h1 {
    font-size: 1.8rem;
    color: #005A9E;
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-top: 0.5rem;
    font-weight: 600;
}

input[type="text"], select {
    width: 100%;
    padding: 0.5rem;
    /*margin-bottom: 1rem;*/
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #0078D4;
    color: #ffffff;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

button:hover {
    background-color: #005A9E;
}

textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
}

.navbar {
    background-color: #005A9E;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-menu a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .navbar-menu {
        flex-direction: column;
        gap: 0.5rem;
    }
}
fieldset {
    margin-bottom: 8px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Optional: Adjust the gap between items */
}

.form-group {
    display: flex;
    align-items: center;
    gap: 2px; /* Optional: Adjust the gap between label and checkbox */
}
.form-group label {
    margin-top: 0px;
    margin-right: 3px;
}
.form-group input[type="checkbox"] {
    margin: 6px 0px 3px 0px; /* Ensure the checkbox height is auto to match the label height */
}