<li><strong>AuthnInstant:</strong> <%= authnStatement.$.AuthnInstant %></li>
<li><strong>SessionIndex:</strong> <%= authnStatement.$.SessionIndex %></li>
<li><strong>AuthnContextClassRef:</strong> <%= authnStatement.AuthnContext[0].AuthnContextClassRef[0] %></li>