<nav class="navbar">
    <div class="navbar-container">
        <!-- Brand -->
        <a href="/" class="navbar-brand">SAML tool</a>
        
        <!-- Navigation Menu -->
        <ul class="navbar-menu">
            <li><a href="/generateSamlRequest">Generate SAML Request</a></li>
            <li><a href="/generateAdvancedSamlRequest">Generate SAML Request Advanced</a></li>
            <li><a href="/decodeSamlRequestandResponse">Decode SAML Request and Response</a></li>
            <li><a href="/generateSamlLogoutRequest">Generate SAML Logout Request</a></li>
        </ul>
    </div>
</nav>