<nav class="navbar">
    <div class="navbar-container">
        <!-- Brand -->
        <a href="/" class="navbar-brand">SAML Request Builder</a>
        
        <!-- Navigation Menu -->
        <ul class="navbar-menu">
            <li><a href="/send_saml_request">Generate SAML Request</a></li>
            <li><a href="/send_saml_request_advanced">Generate SAML Request Advanced</a></li>
            <li><a href="/saml_response_decode">Decode SAML Response</a></li>
        </ul>
    </div>
</nav>